<style>
	@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
</style>

<nav>
	<a routerLink="/home"> Home</a>
	<a routerLink="/models"> Models</a>
	<a routerLink="/invented"> Invented</a>
	<router-outlet></router-outlet>
</nav>

<img src="assets/1.jpg" height="90%" width="100%">


<br/>
<div class="socialbtns">
<ul>
<li><a href="https://www.facebook.com/MercedesBenz/" class="fa fa-lg fa-facebook"></a></li>
<li><a href="https://twitter.com/mercedesbenzind" class="fa fa-lg fa-twitter"></a></li>
<li><a href="https://www.instagram.com/mercedesbenz/?hl=en" class="fa fa-lg fa-instagram"></a></li>
<li><a href="https://www.youtube.com/c/MercedesBenzInd" class="fa fa-lg fa-youtube"></a></li>
</ul>
</div>
	